{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "semi": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "endOfLine": "lf"
}
